<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">XPTO Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
              aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
<br>
<h2>{{title}}</h2>
<footer class="container">
  <hr/>
  <p>&copy; {{ year }} - TPW - Project I</p>
</footer>

