<div class="col-lg-11 offset-1">
  <form class="example" action="/search" method="get">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <br>
  <div class="row">
    <div *ngFor="let item of items" class="col-md-3 offset-1">
      <div class="card" style="width: border-box">
        <div class="box">
          <img class="card-img-top" src="{{url}}{{item.picture.substring(4, item.picture.length)}}"
               style="height: 280px"
               alt="{{ item.titulo }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.titulo }}</h5>
            <p class="card-text">{{ item.short }}</p>
            <a routerLink="/infoItem/{{ item.id }}" class="btn btn-primary">Ver mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
